include po/*
include INSTALL AUTHORS COPYING LICENSE README.md VERSION
include simple-ccsm.in
exclude simple-ccsm
include simple-ccsm.ui
include simple-ccsm.desktop.in
include Makefile MANIFEST.in
recursive-include profiles *
recursive-include images *
