include po/*
include TODO README INSTALL AUTHORS COPYING LICENSE NEWS VERSION ChangeLog
include simple-ccsm.in
include simple-ccsm.glade
include simple-ccsm.desktop.in
include Makefile MANIFEST.in
recursive-include profiles *
recursive-include images *
