include po/*
include README.md INSTALL AUTHORS COPYING LICENSE VERSION
include simple-ccsm.in
include simple-ccsm.ui
include simple-ccsm.desktop.in
include Makefile MANIFEST.in
recursive-include profiles *
recursive-include images *
